@import '../../assets/scss/varibles';
@import '../../assets/scss/breakpoints';

.headerWrapper{
    background-color: $grey54;
    padding-block: 37px;
    position: sticky;
    top: 0;
    z-index: 99;
    @media (max-width:$xl) {
      padding-block: 20px;
    }
    @media (max-width:$md) {
      padding-block: 10px;
      height: 58px;
    }
    .container{
        max-width: 1300px;
    }
    .headerContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            display: block;
            a{
                display: inline-flex;
                img{
                    max-width: 114px;
                    max-height: 44px;
                    @media (max-width:$lg) {
                        max-width: 90px;
                    }
                }
            }
        }
        .navaBar{
            @media (max-width:$md) {
                position: fixed;
                height: calc(100dvh - 58px);
                width: 100%;
                background-color: $black;
                top: 58px;
                left: -100%;
                transition: 0.3s ease-in-out;
            }
            .navLists{
                display: flex;
                align-items: center;
                gap: 50px;
                @media (max-width:$lg) {
                   gap: 24px;
                }
                @media (max-width:$md) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0;
                    height: 100%;
                    overflow: auto;
                }
                li{
                    @media (max-width:$md) {
                        display: block;
                        width: 100%;
                    }
                    .navLink{
                        font-size: 16px;
                        font-weight: 600;
                        color: $white;
                        transition: 0.3s ease-in-out;
                        @media (max-width:$lg) {
                           font-size: 14px;
                        }
                         @media (max-width:$md) {
                            display: block;
                            text-align: left;
                            padding: 14px 16px;
                            border-bottom: 1px solid rgba($color: $white, $alpha: 0.25);
                            
                        }
                        &:hover{
                            color: $primary;
                        }
                    }
                }
            }
            &.menuOpen{
                @media (max-width:$md) {
                    left: 0;
                }
            }
        }
        .toggleMenu{
            display: none;
            width: 28px;
            height: 22px;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            @media (max-width:$md) {
                display: flex;
            }
            .toggleBtn{
                display: block;
                position: relative;
                width: 100%;
                height: 2px;
                background: $white;
                transition: 0.3s ease-in-out;
                &::before , &::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $white;
                    transform-origin: left;
                    transition: 0.3s ease-in-out;
                }
                &::before{
                    top: -10px;
                }
                &::after{
                    bottom: -10px;
                }
            }
            &.menuOpen{
                .toggleBtn{
                    background: transparent;
                    &::before{
                        transform: rotate(45deg);
                    }
                    &::after{
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}